
a.navlink
{
	font-family: garamond, serif;
	font-size: 18px;
	color: #cc3300;
	text-decoration: none;
}

a.navlink:hover
{
	text-decoration: underline;
        color: #cc3300;
}


p {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

p.footer 
{
	margin-top:0;
	margin-bottom: 0;
	color: #000000;
	font-family: Arial, sans-serif;
	text-align: left;
	font-size: 8px;
}


ul
{
	list-style-image: url('aradbul1.gif');
}
ul ul
{
	list-style-image: url('aradbul2.gif');
}
ul ul ul
{
	list-style-image: url('aradbul3.gif');
}
a:link
{
	color: rgb(153, 102, 51);
}
a:active
{
	color: rgb(204, 153, 0);
}
a:visited
{
	color: rgb(102, 102, 0);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(0, 0, 0);
	table-border-color-dark: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
}
th
{
	border-color: rgb(0, 0, 0);
}
td
{
	border-color: rgb(0, 0, 0);
}
h1
{
	color: rgb(0, 0, 0);
}
h3
{
	color: rgb(0, 0, 0);
}

h3.head {
	margin-top:0;
	margin-bottom:0;
	font-family: Garamond, Serif;
	font-size: 24px;
	color: #CC3300;
}
h5
{
	color: rgb(0, 0, 0);
}
h6
{
	color: rgb(0, 0, 0);
}
hr
{
	color: rgb(0, 0, 0);
}
button
{
}
label
{
}

td.directory, div.directory {
	font-size: 12px;
	font-family: Arial;
}

div.directory {
        font-size: 14px;
        font-family: Arial;
	line-height:20px;
}

a.directory {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
        text-decoration: none;
}


a.directory:hover {
	text-decoration: underline;
}

.nobreak{
	white-space:nowrap;
}


.credit {
	text-decoration: none;
}

.credit:hover {
	text-decoration: underline;
}

select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(0, 0, 0);
}


body
{
	font-weight: normal;
	font-style: normal;
	font-family: Arial;
	text-align: none;
	vertical-align: none
}

.banner {
        width: 946px;
        height: 150px;
}

button
{
	border-top-style: solid;
	font-style: normal;
	font-family: Arial,Helvetica,sans-serif;
	border-left-width: 1pt;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-right-style: solid;
}
caption
{
	font-family: verdana,arial,helvetica;
	font-style: normal;
}
div.ms-titleareaframe
{
	border-top-width: 4px;
	border-top-color: #AFAFAF;
	border-top-style: solid;
}
fieldset
{
	border-top-width: 1pt;
	border-right-style: solid;
	border-top-style: solid;
	border-left-width: 1pt;
	border-left-style: solid;
	border-bottom-width: 1pt;
	font-family: verdana,arial,helvetica;
	border-right-width: 1pt;
	font-style: normal;
	border-bottom-style: solid;
}
h1
{
	font-weight: bold;
	vertical-align: none;
	font-family: Garamond;
	font-style: normal;
	text-align: none;
}
h2
{
	font-weight: normal;
	font-family: Garamond,Times New Roman,Times;
	font-style: normal;
}
h3
{
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	font-family: Garamond;
	vertical-align: none;
	text-align: none;
	color: #CC3300;
}
h4
{
	font-weight: bold;
	font-family: arial,helvetica;
	font-style: normal;
	text-align: none;
	vertical-align: none;
	margin-bottom: 0;
}
h5
{
	font-weight: normal;
	font-family: Arial;
	vertical-align: none;
	font-style: normal;
	text-align: none;
}
h6
{
	font-weight: normal;
	font-family: verdana,arial,helvetica;
	font-style: normal;
}
hr
{
	color: #000000;
	height: 2px;
}

.helptip {      background:#FFFF99;
	}

img.thumbnail
{
	border-top-color: #A5BACF;
	border-left-color: #A5BACF;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #A5BACF;
	border-bottom-style: solid;
	border-right-width: 3px;
	border-right-color: #A5BACF;
	border-right-style: solid;
	border-top-width: 3px;
	border-left-width: 3px;
}
label, .mstheme-label
{
	font-style: normal;
	font-family: verdana,arial,helvetica;
}
legend
{
	font-style: normal;
	font-family: verdana,arial,helvetica;
}
marquee
{
	font-family: verdana,arial,helvetica;
}
select
{
	border-style:solid; font-style: normal;
	font-family: verdana,arial,helvetica;
	
}
span.thumbnail
{
	width: 5px;
	padding-bottom: 16;
	position: relative;
	padding-top: 16;
	padding-right: 10;
	padding-left: 10;
}
span.userdata
{
	behavior: url(#default#userData);
	display: none;
}
table
{
	vertical-align: none;
	font-weight: normal;
	font-style: normal;
	font-family: Arial;
	text-align: none;
}
table.ms-form td
{
	width: 100%;
	vertical-align: top;
}
table.ms-form th
{
	font-weight: normal;
	color: #000000;
	font-family: verdana,arial,helvetica;
	vertical-align: top;
}
table.ms-imglibpreviewtable
{
	display: none;
}
table.ms-imglibtitletable
{
	border-right-color: #AFAFAF;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #AFAFAF;
	border-top-style: solid;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-bottom-color: #AFAFAF;
	border-left-color: #AFAFAF;
	border-right-width: 0px;
	border-bottom-style: solid;
	border-left-style: solid;
}
table.ms-titleareaframe
{
	border-left-width: 0px;
	border-left-color: inherit;
	border-left-style: none;
}
table.ms-toolbar
{
	border:1px solid #BBBBBB; background-image: url('toolgrad.gif');
	
}
td.ms-titleareaframe
{
	border-bottom-color: #AFAFAF;
	color: #000000;
	border-right-color: #AFAFAF;
	border-top-color: #AFAFAF;
	border-left-color: #AFAFAF;
}
textarea
{
	font-style: normal;
	font-family: verdana,arial,helvetica;
	
}
th
{
	font-family: verdana,arial,helvetica;
	font-style: bold;
}
tr.ms-imglibselectedrow
{
	background-color: #A5BACF;
}


h1.overlay{
  font-family: Arial;
  color: red;
  text-shadow: 3px 3px black;
  font-size: 50px;
  font-weight:700;
}

h3.overlay{
position:relative;
top: 30px;
right:40px;
  font-family: Arial;
  font-style: italic;
  text-shadow: 1px 1px #202020;
  font-size: 25px;
  font-weight:500;
  background-color: rgba(255,255,255,0.8);
}
span.overlay{
  font-weight:400; 
}

div.bannerOverlay{
  position:absolute;
  top:5px;
  left:36%;
  z-index:99;
}

h2.main {
  font-family: Arial;
  color:#CC3300;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 4px;
}

h3.main{
  font-family: Arial;
  color:#CC3300;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

td.pageBGleft {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+0,a2bfd6+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(left,  rgba(162,191,214,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2bfd6', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

td.pageBGright {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+0,ffffff+47,a2bfd6+100&0+0,1+100 */
background: -moz-linear-gradient(right,  rgba(162,191,214,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(rightt,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a2bfd6',GradientType=1 ); /* IE6-9 */}
