
a.navlink
{
	font-family: garamond, serif;
	font-size: 18px;
	color: #cc3300;
	text-decoration: none;
}

a.navlink:hover
{
	text-decoration: underline;
        color: #cc3300;
}


p {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

p.footer 
{
	margin-top:0;
	margin-bottom: 0;
	color: #000000;
	font-family: Arial, sans-serif;
	text-align: left;
	font-size: 8px;
}

a:link
{
	color: rgb(153, 102, 51);
}
a:active
{
	color: rgb(204, 153, 0);
}
a:visited
{
	color: rgb(102, 102, 0);
}
th, td
{
	border-color: rgb(0, 0, 0);
}
h1, h3, h5, h6, select, caption
{
	color: rgb(0, 0, 0);
}

h3.head {
	margin-top:0;
	margin-bottom:0;
	font-family: Garamond, Serif;
	font-size: 24px;
	color: #CC3300;
}

td.directory, div.directory {
	font-size: 12px;
	font-family: Arial;
}

div.directory {
        font-size: 14px;
        font-family: Arial;
	line-height:20px;
}

a.directory {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
        text-decoration: none;
}


a.directory:hover {
	text-decoration: underline;
}

.nobreak{
	white-space:nowrap;
}


.credit {
	text-decoration: none;
}

.credit:hover {
	text-decoration: underline;
}

body
{
	font-weight: normal;
	font-style: normal;
	font-family: Arial;
	text-align: none;
	vertical-align: none
}

.banner {
        width: 946px;
        height: 150px;
}

button
{
	border-top-style: solid;
	font-style: normal;
	font-family: Arial,Helvetica,sans-serif;
	border-left-width: 1pt;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-right-style: solid;
}
caption
{
	font-family: verdana,arial,helvetica;
	font-style: normal;
}
fieldset
{
	border-top-width: 1pt;
	border-right-style: solid;
	border-top-style: solid;
	border-left-width: 1pt;
	border-left-style: solid;
	border-bottom-width: 1pt;
	font-family: verdana,arial,helvetica;
	border-right-width: 1pt;
	font-style: normal;
	border-bottom-style: solid;
}
hr
{
	color: #000000;
	height: 2px;
}

.helptip {      background:#FFFF99;
	}

img.thumbnail
{
	border-top-color: #A5BACF;
	border-left-color: #A5BACF;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #A5BACF;
	border-bottom-style: solid;
	border-right-width: 3px;
	border-right-color: #A5BACF;
	border-right-style: solid;
	border-top-width: 3px;
	border-left-width: 3px;
}
select
{
	border-style:solid; font-style: normal;
	font-family: verdana,arial,helvetica;
	
}
span.thumbnail
{
	width: 5px;
	padding-bottom: 16;
	position: relative;
	padding-top: 16;
	padding-right: 10;
	padding-left: 10;
}
table
{
	vertical-align: none;
	font-weight: normal;
	font-style: normal;
	font-family: Arial;
	text-align: none;
}
textarea
{
	font-style: normal;
	font-family: verdana,arial,helvetica;
	
}
th
{
	font-family: verdana,arial,helvetica;
	font-style: bold;
}


h1.overlay{
  font-family: Arial;
  color: red;
  text-shadow: 3px 3px black;
  font-size: 50px;
  font-weight:700;
}

h3.overlay{
position:relative;
top: 30px;
right:40px;
  font-family: Arial;
  font-style: italic;
  text-shadow: 1px 1px #202020;
  font-size: 25px;
  font-weight:500;
  background-color: rgba(255,255,255,0.8);
}
span.overlay{
  font-weight:400; 
}

div.bannerOverlay{
  position:absolute;
  top:5px;
  left:36%;
  z-index:99;
}

h2.main {
/*  font-family: Arial;  */
  font-family: 'Roboto Condensed', sans-serif;
  color:#CC3300;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

h3.main{
  font-family: Arial;
  color:#CC3300;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

td.pageBGleft {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+0,a2bfd6+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(left,  rgba(162,191,214,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2bfd6', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

td.pageBGright {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+0,ffffff+47,a2bfd6+100&0+0,1+100 */
background: -moz-linear-gradient(right,  rgba(162,191,214,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(rightt,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left,  rgba(162,191,214,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a2bfd6',GradientType=1 ); /* IE6-9 */}

p.sectionalUpdateHead {
  font-weight: 500;
  margin-bottom: 0;
}

li.sectionalUpdateRow {
  font-size: 14px;
}

a.sectionalUpdateLink {
  text-decoration: none;
        color: #0000ee;
}

a.sectionalUpdateLink:hover {
        text-decoration: underline;
        color: #cc3300;
}

@media print {

h2.nearest {
font-size: 14pt;
color: black;

}
